In [22]:
#check spark session
spark

In [23]:
#read csv file from local or url into a Dataframe
mtcars_df = spark.read.csv("mtcars.csv", header = True, inferSchema = True)
mtcars_df

DataFrame[car: string, mpg: double, cyl: int, disp: double, hp: int, drat: double, wt: double, qsec: double, vs: int, am: int, gear: int, carb: int]

In [24]:
#list columns
mtcars_df.columns

['car',
 'mpg',
 'cyl',
 'disp',
 'hp',
 'drat',
 'wt',
 'qsec',
 'vs',
 'am',
 'gear',
 'carb']

In [25]:
#display schema
mtcars_df.printSchema()

root
 |-- car: string (nullable = true)
 |-- mpg: double (nullable = true)
 |-- cyl: integer (nullable = true)
 |-- disp: double (nullable = true)
 |-- hp: integer (nullable = true)
 |-- drat: double (nullable = true)
 |-- wt: double (nullable = true)
 |-- qsec: double (nullable = true)
 |-- vs: integer (nullable = true)
 |-- am: integer (nullable = true)
 |-- gear: integer (nullable = true)
 |-- carb: integer (nullable = true)

In [26]:
#show first 5 rows
mtcars_df.show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+
only showing top 5 rows

In [27]:
#number or records
mtcars_df.count()

32

In [28]:
#show the all distinct cars
mtcars_df.select("car").distinct().show(32)

+-------------------+
|                car|
+-------------------+
|     Ford Pantera L|
|         Merc 450SL|
|        Honda Civic|
|       Ferrari Dino|
|      Mazda RX4 Wag|
|          Mazda RX4|
|          Merc 240D|
|        Merc 450SLC|
|          Fiat X1-9|
|   Pontiac Firebird|
|         Merc 450SE|
|  Chrysler Imperial|
| Cadillac Fleetwood|
|         Volvo 142E|
|         Duster 360|
|           Merc 230|
|           Fiat 128|
|          Merc 280C|
|       Lotus Europa|
|        AMC Javelin|
|   Dodge Challenger|
|  Hornet Sportabout|
|      Maserati Bora|
|         Datsun 710|
|     Toyota Corolla|
|     Hornet 4 Drive|
|      Porsche 914-2|
|            Valiant|
|         Camaro Z28|
|      Toyota Corona|
|Lincoln Continental|
|           Merc 280|
+-------------------+

In [29]:
#show cars from mtcars_df where "mpg" < 18
mtcars_df.filter(mtcars_df["mpg"] < 18).show()

+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|                car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+
|         Duster 360|14.3|  8|360.0|245|3.21| 3.57|15.84|  0|  0|   3|   4|
|          Merc 280C|17.8|  6|167.6|123|3.92| 3.44| 18.9|  1|  0|   4|   4|
|         Merc 450SE|16.4|  8|275.8|180|3.07| 4.07| 17.4|  0|  0|   3|   3|
|         Merc 450SL|17.3|  8|275.8|180|3.07| 3.73| 17.6|  0|  0|   3|   3|
|        Merc 450SLC|15.2|  8|275.8|180|3.07| 3.78| 18.0|  0|  0|   3|   3|
| Cadillac Fleetwood|10.4|  8|472.0|205|2.93| 5.25|17.98|  0|  0|   3|   4|
|Lincoln Continental|10.4|  8|460.0|215| 3.0|5.424|17.82|  0|  0|   3|   4|
|  Chrysler Imperial|14.7|  8|440.0|230|3.23|5.345|17.42|  0|  0|   3|   4|
|   Dodge Challenger|15.5|  8|318.0|150|2.76| 3.52|16.87|  0|  0|   3|   2|
|        AMC Javelin|15.2|  8|304.0|150|3.15|3.435| 17.3|  0|  0|   3|   2|
|         Camaro Z28|13.3|  8|350.0|245|3.73| 3.84|15.41|  0|  0|   3|   4|
|     Ford Pantera L|15.8|  8|351.0|264|4.22| 3.17| 14.5|  0|  1|   5|   4|
|      Maserati Bora|15.0|  8|301.0|335|3.54| 3.57| 14.6|  0|  1|   5|   8|
+-------------------+----+---+-----+---+----+-----+-----+---+---+----+----+

In [30]:
#create a new column "wtTon" using "wt" such that wtTon = wt * 0.45
mtcars_df.withColumn("wtTon", mtcars_df["wt"] * 0.45).show(5)

+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|              car| mpg|cyl| disp| hp|drat|   wt| qsec| vs| am|gear|carb|  wtTon|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
|        Mazda RX4|21.0|  6|160.0|110| 3.9| 2.62|16.46|  0|  1|   4|   4|  1.179|
|    Mazda RX4 Wag|21.0|  6|160.0|110| 3.9|2.875|17.02|  0|  1|   4|   4|1.29375|
|       Datsun 710|22.8|  4|108.0| 93|3.85| 2.32|18.61|  1|  1|   4|   1|  1.044|
|   Hornet 4 Drive|21.4|  6|258.0|110|3.08|3.215|19.44|  1|  0|   3|   1|1.44675|
|Hornet Sportabout|18.7|  8|360.0|175|3.15| 3.44|17.02|  0|  0|   3|   2|  1.548|
+-----------------+----+---+-----+---+----+-----+-----+---+---+----+----+-------+
only showing top 5 rows

In [31]:
#compute avg(wt) of cars based on their cylinders
mtcars_df.groupBy(["cyl"]).agg({"wt":"AVG"}).show()

+---+------------------+
|cyl|           avg(wt)|
+---+------------------+
|  6| 3.117142857142857|
|  4| 2.285727272727273|
|  8|3.9992142857142867|
+---+------------------+

In [32]:
#calculate the max(mpg) for each gear type
mtcars_df.groupBy(["gear"]).agg({"mpg": "AVG"}).show()

+----+------------------+
|gear|          avg(mpg)|
+----+------------------+
|   3|16.106666666666666|
|   5|21.380000000000003|
|   4| 24.53333333333333|
+----+------------------+

In [33]:
#which gear and cylinder combination has most cars
mtcars_df.groupBy(["gear", "cyl"]).agg({"car": "count"}).orderBy("gear", "cyl", ascending = False).show()

+----+---+----------+
|gear|cyl|count(car)|
+----+---+----------+
|   5|  8|         2|
|   5|  6|         1|
|   5|  4|         2|
|   4|  6|         4|
|   4|  4|         8|
|   3|  8|        12|
|   3|  6|         2|
|   3|  4|         1|
+----+---+----------+

In [34]:
#register the Dataframe as a temp table to use SQL query
mtcars_df.registerTempTable("mtcars")

In [35]:
#write a SQL query to display same result as above
mtcars_sql = sql("SELECT gear, cyl, count(car) FROM mtcars GROUP BY gear, cyl ORDER BY gear desc, cyl desc")
mtcars_sql.show()

+----+---+----------+
|gear|cyl|count(car)|
+----+---+----------+
|   5|  8|         2|
|   5|  6|         1|
|   5|  4|         2|
|   4|  6|         4|
|   4|  4|         8|
|   3|  8|        12|
|   3|  6|         2|
|   3|  4|         1|
+----+---+----------+